{% extends 'base.html.twig' %}

{% block description %}Paiement refusé{% endblock %}

{% block title %}paiement refusé{% endblock %}

{% block h1 %}Paiement refusé{% endblock %}

{% block body %}

    <p>Votre paiement a été refusé !</p>

{% endblock %}
