{% extends 'base.html.twig' %}

{% block description %}Paiement accepté{% endblock %}

{% block title %}paiement accepté{% endblock %}

{% block h1 %}Paiement accepté{% endblock %}

{% block body %}

    <p>Votre paiement a été accepté !</p>

{% endblock %}
